.Card {
  grid-row-start: 2;
  grid-row-end: 2;
  padding: 1.25em 1rem;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);
  align-items: flex-start;
  z-index: 1;
  color: rgb(68, 68, 68);;
  text-shadow: 1px 1px 0 #fff;
  align-items: center;
  .top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .day-nice {
    font-weight: bold;
    font-size: 2rem;
    display: block;
  }
  .slug {
    display: inline-block;
    text-align: right;
    span {
      line-height: 1em;
    }
  }
  .forecast-icon {
    display: inline-block;
    color: rgb(68, 68, 68);
    text-shadow: 1px 1px 0 #fff;
    font-size: 3rem;
    padding-top: 0.8rem;
  }
  .temp {
    font-size: 2em;
  }
  .slash {
    padding: 0 0.25em;
    vertical-align: super;
  }
  .summary {
    display: block;
    padding-top: 0.25rem;
    text-align: center;
  }
}