.Card {
  grid-row-start: 2;
  grid-row-end: 2;
  padding: 1.25em 1rem;
  display: flex;
  flex-direction: column;
  background: rgba(1,1,1,0.75);
  align-items: flex-start;
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 0 #000;
  align-items: center;
  .top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .slug {
    display: inline-block;
    text-align: right;
  }
  .forecast-icon {
    display: inline-block;
    color: white;
    font-size: 3rem;
    padding-top: 0.8rem;
  }
  .temp {
    font-size: 2em;
  }
  .slash {
    padding: 0 0.25em;
    vertical-align: super;
  }
  .summary {
    display: block;
    font-size: 0.85em;
    padding-top: 0.25rem;
    text-align: center;
  }
}